<% content_for :title do  %>
    Adding adblock | Scuffed Guides
<%end%>

<%= render "header"%>



<div class="flexbox-content">
    <div class="lsidemenu-flexbox">
            <ul id="leftnavmenu">
                <li>block that has links</li>
                <li>home link</li>
                <li>link link link</li>
                <li>link link link</li>
            </ul>
    </div>

    <div class="flexbox-item">


        <h2>Apex graphic settings</h2>
        <p>Follow along step by step or mix it up if you'd prefer.</p>
        
        <div class="row-dotted-line"></div>
        
        <h3>1. Video settings</h3>
        
        <ul>
            <li>Aspect ratio: It's specific to your monitor. By default, it will be set to native.</li>
            <li>Resolution: It is also specific to your monitor. Again, it will be set to native by default.</li>
            <li>Nvidia reflex: If your system supports it I recommend turning it on.</li>
            <li>Texture streaming budget: Set this based off your gpus memory size. My gpu is 8gbs so I set it to 6gb</li>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "apexsettings1", class: "flexbox-ite"%>
        </div>

        <h3>1. continued</h3>
        <div class="img-flexbox">
            <%= image_tag "apexsettings2", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <h3>2. On screen display</h3>

        <ul>
            <li>I included this section incase you want to be able to view your fps and network stats. 
            In the picture below, I outlined in red how the onscreen statistics look</li>
            <p><strong>note: </strong> It does nothing for performance or gameplay. It is simply a tool used to display realtime statistics.</p>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "apexsettings6", class: "flexbox-ite"%>
        </div>

        <h3>2. continued</h3>
        <ul>
            <li>In settings under the gameplay tab, you'll see an option that says Performance Disaplay turn it on.</li>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "apexsettings3", class: "flexbox-ite"%>
        </div>

        <p><strong>note: </strong> By this point you may have gotten a notification stating that you need to restart the game for settings to take place, if so, go ahead and do that.</p>

        <div class="row-dotted-line"></div>

        <h3>3. Setting your fps</h3>

        <ul>
            <li>Apex locks the framerate to match your monitors refresh rate. In the steps below I'll show how to set a custom limit.</li>
            <li>In your Steam library go to Apex, right click it and go to properties.</li>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "apexsettings4", class: "flexbox-ite"%>
        </div>

        <h3>3. Continued</h3>

        <ul>
            <li>You will now be on a new window that looks like the one in the picture bellow. Under launch options you'll type <span class="textbox">+fps_max</span> followed by the frame rate of your liking. 
            I lock it at 154 out of habbit.</li>
            <li>When you're done simply close the window by clicking the X on top right.</li>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "apexsettings5", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <p>There you have it, you're all set.</p>

        <h4>Summary</h4>

        <p>Settings are preference, usually when selecting your settings you are choosing to prioritize graphics quality or performance.</p>
        <p>Personally I tend to play on low setting targeting at least 144fps, therefore my settings are performance based.</p>

        <p>
            Relative information.
            <ul>
                <li>Monitor: Asus VG248QE 144hz</li>
                <li>CPU: Ryzen 3600</li>
                <li>GPU: 3050</li>
                <li>RAM: 16gb (2x8gb) 3200</li>
            </ul>
        </p>

    </div>

    <div class="rsidemenu-flexbox">
        <p>block that has links<br>
        home link<br>
        link link link<br>
        link link link<br>
    </div>

</div>

<div class="footer">
    <p>missing</p>
</div>
