<% content_for :title do  %>
    Adding adblock | Scuffed Guides
<%end%>

<%= render "header"%>

<div class="flexbox-content">
    <div class="lsidemenu-flexbox">
            <ul id="leftnavmenu">
                <li>block that has links</li>
                <li>home link</li>
                <li>link link link</li>
                <li>link link link</li>
            </ul>
    </div>

    <div class="flexbox-item">

        <h2>Alternative path to the Chrome web store</h2>
        <p>Here we're gonna go to the extensions manager, and from there we'll get to the Chrome Web Store.</p>
        
        <h3>1. Extensions mangager</h3>

        <div class="ul-box">
            <ul>
                <li>Assuming you have Chrome open, click on the 3 vertical dots on top right. You'll see a side-menu containing a more tools option, select it. 
                You'll now see a sub-menu, in it you'll see extensions. Click it to go to the extensions mananger page.</li> 
            </ul>
        </div>

        <div class="img-flexbox">
            <%= image_tag "UOaltchrome", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <h3>2. Chrome Web Store</h3>

        <div class="ul-box">
            <ul>
                <li>You'll now be on a page that's titled extensions. On top left you'll see a menu icon, click it to open a side-menu.</li> 
            </ul>
        </div>

        <div class="img-flexbox">
            <%= image_tag "UOaltchrome3", class: "flexbox-ite"%>
        </div>

        <h3>2. continued</h3>
        Now that you've opend the side-menu, at the bottom of the page there will be a link that lead to the Chrome Web Store. 

        <div class="img-flexbox">
            <%= image_tag "UOaltchrome2", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <p>
            That's it, now go back and continue where you left off.
        </p>

    </div>

    <div class="rsidemenu-flexbox">
        <p>block that has links<br>
        home link<br>
        link link link<br>
        link link link<br>
    </div>

</div>

<%= render "footer"%>
