<% content_for :title do  %>
    Adding adblock | GreeNerd
<%end%>

<%= render "header"%>

<div class="flexbox-content">
    <div class="lsidemenu-flexbox">
            <ul id="leftnavmenu">
                <li>block that has links</li>
                <li>home link</li>
                <li>link link link</li>
                <li>link link link</li>
            </ul>
    </div>

    <div class="flexbox-item">


        <h2>Adding adblock</h2>
        <p>In this guide I'm gonna go over how to add adblock on the Firefox browser</p>
        <p>At the bottom of the page there is a short explanation on why I recommend adding adblock.</p>
        <p><strong>note:</strong> I'm not gonna get into the gray area surrounding adblock, but I will mention it is frown upon by some people. 
        With that out of the way, let's get started.</p>
        <div class="row-dotted-line"></div>

        <h3>1. Get to the Add-ons page</h3>
        
        <div class="ul-box">
            <ul>
                <li>Launch the Firefox browser</li>
                <li>press ctrl+shift+a to open a Add-ons Manager tab.</li>
                <li>There will be a search bar (I under lined it in the image below) on top, in it type uBlock&nbspOrigin.</li>
            </ul>
        </div>

        <div class="img-flexbox">
            <%= image_tag "UOsettingsfirefox1", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <h3>2. Selecting the correct extension</h3>
        <ul>
            <li>You'll get a list of mixed results, make sure to select the one that matches the name and emblem (red shield with ub in it) exactly as in the picture below.</li>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "UOsettingsfirefox2", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <h3>3. Add to Firefox</h3>
        <ul>
            <li>Now that you've selected the correct extension, your current page should look similar to the one in the picture below. <strong>It is important that the extension is by Raymond Hill</strong>. 
            On the picture below I under the name in red.</li>
            <li>click the blue Add to Firefox button.</li>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "UOsettingsfirefox3", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <p>
            All done, you've now added adblock to Firefox.
        </p>

        <h4>Summary</h4>
            <p>Adblock is used to block ads on a website. uBlock Origin by defualt does a good job at blocking ads, despite some ads still getting through. 
            It can affect the functionality on some websites by blocking needed information so I do recommend getting familiar with how to disable it.<br><br>
            I recommend adblock because it makes browsing safer. Often times when you search without adblock the first link will be a ad link, 
            and sometimes ad links can be malicious.
            </p>

        <p>
            My settings and relative information.
            <ul>
                <li>uBlock Origin with defualt settings.</li>
            </ul>
        </p>

    </div>

    <div class="rsidemenu-flexbox">
        <p>block that has links<br>
        home link<br>
        link link link<br>
        link link link<br>
    </div>

</div>

<%= render "footer"%>
