<% content_for :title do  %>
    Home | Scuffed Guides
<%end%>

<%= render "header"%>

<div class="flexbox-content">

    <div class="rsidemenu-flexbox">
        <p>block that has links<br>
            home link<br>
            link link link<br>
            link link link<br>
        </p>
    </div>

    <div class="flexbox-item">
        <div id="home-image" class="img-flexbox">
            <%= image_tag "TBD.png"%>
        </div>

        <h2>General settings & changes</h2>
        <ul>
            <li>
                <p>How to set your monitor to it's highest refresh rate.</p>
                <ul>
                    <li> <%= link_to "Display Settings", "/display_settings", class: "hi" %> Windows 10</li>
                </ul>
            </li>

            <li>
                <p>How to disable Xbox gamebar.</p>
                <ul>
                    <li> <%= link_to "Disabling Gamebar", "/disabling_gamebar" %> </li>
                </ul>
            </li>

            <li>
                <p>How to set up adblock on your favorite browser.</p>
                 <ul>
                    <li> <%= link_to "Adding adblock", "/adding_adblock_chrome" %> Chrome</li>
                    <li> <%= link_to "Adding adblock", "/adding_adblock_firefox" %> Firefox</li>
                    <li> <%= link_to "Adding adblock", "/adding_adblock_edge" %> Edge</li>
                </ul>
            </li>

            <li>
                <p>How to disable autostart for popular applications.</p>
                <ul>
                    <li> <%= link_to "Disabling autostart", "/battlenet_autostart" %> on Battlenet </li>
                    <li> <%= link_to "Disabling autostart", "/epic_autostart" %> on Epic </li>
                    <li> <%= link_to "Disabling autostart", "/steam_autostart" %> on Steam </li>
                </ul>
            </li>
        </ul>

        <h2>Game specific settings</h2>
        <ul>
            <li>
                <p>In game graphic settings</p>
            </li>
            <ul>
                <li> <%= link_to "Apex", "/apex_graphicsettings" %> </li>
                <li> <%= link_to "Fortnite", "/fortnite_graphicsettings" %> </li>
                <li> <%= link_to "Warzone", "/warzone_graphicsettings"%> </li>
            </ul>
        </ul>

    </div>

    <div class="rsidemenu-flexbox">
            <p>block that has links<br>
            home link<br>
            link link link<br>
            link link link<br>
    </div>

</div>

<div class="footer">
    <p>missing</p>
</div>
